*{
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
@media (min-width: 400px) {
  html { /* TABLET */
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  html { /* DESKTOP */
    font-size: 21px;
  }
}
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.pie{
  max-height:50vw;
  max-width:50vw;
  z-index: 99;
}

.spin-txt{
  font: bold 2px sans-serif;
  fill:white;
  cursor: pointer;
}
.spin-txt:hover{
  fill: #2cbd77;
}

.teardrop{
  z-index: 100;
  width:3rem;
  height:3rem;
  fill: white;
}

.page{
  height:100vh;
  width:100vw;
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn{
  z-index: 101;
  position: relative;
  width:5rem;
  height:3rem;
}