*{
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
.tokens{top:45px;}
@media (min-width: 400px) {
  html { /* TABLET */
    font-size: 15px;
  }
  .tokens{top:30px;}
}
@media (min-width: 768px) {
  html { /* DESKTOP */
    font-size: 21px;
  }
  .tokens{top:15px;}
}
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}
.tokens{
  background-color: white;
  color: black;
  width:20rem;
  font-size:1.1rem;
  padding:12px 0;
  z-index: 102;
  position: absolute;
  left:calc(50% - 10rem);
}
.pie{
  max-height:50vw;
  max-width:50vw;
  z-index: 99;
  transform: rotate(14deg)
}
.pie-spin-lose{
  -webkit-transition: -webkit-transform 2s ease-out;
  -ms-transition: -ms-transform 2s ease-out;
  transition: transform 2s ease-out; 
  transform:rotate(356deg);
    -ms-transform:rotate(356deg);
    -webkit-transform:rotate(356deg);
}
.pie-spin-win{
  -webkit-transition: -webkit-transform 2s ease-out;
  -ms-transition: -ms-transform 2s ease-out;
  transition: transform 2s ease-out; 
  transform:rotate(394deg);
    -ms-transform:rotate(394deg);
    -webkit-transform:rotate(394deg);
}

.spin-txt{
  font: bold 2px sans-serif;
  fill:white;
  cursor: pointer;
}
.spin-txt:hover{
  fill: #2cbd77;
}

.teardrop{
  z-index: 100;
  width:3rem;
  height:3rem;
  fill: white;
}

.page{
  height:100vh;
  width:100vw;
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn{
  z-index: 101;
  position: relative;
  width:5rem;
  height:3rem;
  font-size:1.3rem;
}
input#betamount{
  width:100px;
  height:1.8rem;
  border-radius: 9px;
  margin-left:5px;
  font-size:1rem;
  outline:none;
  padding-left:8px;
}
.budget{
  margin-bottom:9px;
}
.bet{
  margin-bottom:9px;
}
.winLose{
  font-weight: bold;
}
